# just run `npm install` if package.json gets changed
node_modules

# Secrets
.env

# Testing Only
start.bat

# lovely ts files -- Hamziniii 🎩
# *.ts # so you can actually read my code :) 
# tsconfig.json
util-ts
nodemon.json